<!-- base.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <style>
    .navbar-dark.bg-custom {
      background-color: #0f91ce;
    }
      .search-button {
        color: blue;
        border: none;
        background-color: white;
      }
      .navbar-brand {
        font-weight: bold;
        font-size: 1.5rem;
      }

      /* Footer styles */
      footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #0f91ce;
        color: white;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        text-align: center;
      }
      .project-container {
  float: right;
}

.Project_Repository {
  font-size: 15px;
  grid-column: 2;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-links {
  display: flexbox;
  align-items: center;
}

.navbar-links a {
  margin-left: 10px;
}
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        <a class="navbar-brand" href="http://127.0.0.1:8000/poodle">Poddle</a>
        
        </div>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
          a
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            {% if current_user %}
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/poodle/logout"
                >Logout</a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <div class="row">
                <div class="col">
                  <a class="nav-link" href="/poodle/login">Login</a>
                </div>
                <div class="col">
                  <a class="nav-link" href="/poodle/register" >Register</a>
                </div>
              </div>
            </li>
            {% endif %} {% if current_user and current_user.role == "student" %}
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/poodle/users"
                >Profile Info</a
              >
            </li>
            {% endif %} {% if current_user and current_user.role == "teacher" %}
            <li class="nav-item">
              <div class="row">
                
                <div class="col-sm-4">
                  <a class="nav-link" href="http://127.0.0.1:8000/poodle/users">Profile</a>
                </div>
                <div class="col-sm-4">
                  <a class="nav-link" href="http://127.0.0.1:8000/poodle/teacher">Create Course</a>
                </div>
              </div>
            </li>
          {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    
    </div>
    <div class="container mt-4"></div>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <div class="container">
        <p>&copy; 2023 Poodle-Elearn System All rights reserved &#128125;</p>
      </div>
    </footer>
  </body>
</html>
