{% extends "base.html" %} {% block title %} Login - Poodle-Elearn {% endblock %}
{% block content %}
<style>
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200hv;
  }

  .login-form {
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px, 20px;
    text-align: center;
  }

  .error {
    color: red;
  }
</style>

<div class="login-container">
  <div class="login-form">
    <h1>Login</h1>
    {% if error_message %}
    <p class="error">{{ error_message }}</p>
    {% endif %}
    <form action="/poodle/login" method="POST">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Login" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
