{% extends "base.html" %} {% block title %} Profile - Poodle-Elearn {% endblock
%} {% block content %}

<style>
  .form_register {
    text-align: center;
    border: 1px solid #ccc;
    margin: 50px;
  }
  .input-field {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    margin: 50px, 50px;
  }
</style>
<div class="form_register">
  <h1><strong>Welcome</strong>, {{ current_user.username }}!</h1>

  {% if message %}
  <p class="msg">{{ message }}</p>
  {% endif %}

  <form action="http://127.0.0.1:8000/poodle/users" method="post">
    <p><strong>Username</strong>: {{ current_user.username }}</p>
    <p><strong>Role</strong>: {{ current_user.role }}</p>

    <label for="first_name">First Name:</label>
    <input
      type="text"
      id="first_name"
      name="first_name"
      value="{{ current_user.first_name }}"
      class="input-field"
    />
    <br />
    <label for="last_name">Last Name:</label>
    <input
      type="text"
      id="last_name"
      name="last_name"
      value="{{ current_user.last_name }}"
      class="input-field"
    />
    <br />

    <br />
    <!-- Other profile information -->
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>
{% endblock %}
