{% extends "base.html" %} {% block title %}Register - Poodle-Elearn{% endblock %} {%
block content %}
<style>
  .form-group input {
    flex: center;
    
  }
  
</style>
<div class="container">
  <h1>Register</h1>
  {% if phone_number_error_linkedin %}
  <p class="text-danger">{{ errors }}</p>
  {% endif %}
  <form action="/poodle/register" method="POST">
    {% if errors_email %}
    <p class="text-danger">{{ errors_email }}</p>
    {% endif %}
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        required
      />
    </div>
    <div class="form-register">
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input
          type="text"
          id="first_name"
          name="first_name"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input
          type="text"
          id="last_name"
          name="last_name"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"
        class="form-control" required
      
      /> {% if errors %}
      <p class="text-danger">{{ errors }}</p>
      {% endif %}
      <p class="text-muted">
        Password must be at least 8 characters long and contain at least one
        uppercase letter, one lowercase letter, one digit, and one special
        character.
      </p>
    </div>
    <div class="form-group">
      <label for="role">Register as:</label>
      <select
        id="role"
        name="role"
        class="form-control"
        onchange="toggleOptionalFields()"
      >
        <option value="student">Student</option>
        <option value="teacher">Teacher</option>
      </select>
    </div>
    <div id="optional-fields" style="display: none">
      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input
          type="text"
          id="phone"
          name="phone_number"
          class="form-control"
        />
        <p class="text-muted">Please enter your phone number.</p>
      </div>
      <div class="form-group">
        <label for="linkedin">LinkedIn Account:</label>
        <input
          type="text"
          id="linkedin"
          name="linkedin_account"
          class="form-control"
        />
        <p class="text-muted">Please enter your LinkedIn account URL.</p>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script>
  function toggleOptionalFields() {
    const role = document.getElementById("role").value;
    const optionalFields = document.getElementById("optional-fields");

    if (role === "teacher") {
      optionalFields.style.display = "block";
    } else {
      optionalFields.style.display = "none";
    }
  }
</script>
{% endblock %}
